ordering/Payment-MS/ms-payment.asl.json
{
    "Comment": "Flujo de trabajo para Microservicio de Pagos y Facturacion",
    "StartAt": "Selector de Evento",
    "States": {
        "Selector de Evento": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input['detail-type'] = 'Payment.Initiate' %}",
                    "Next": "Validar Datos de Entrada"
                },
                {
                    "Condition": "{% $states.input['detail-type'] = 'Order.Cancelled' %}",
                    "Next": "Procesar Reembolso"
                }
            ],
            "Default": "Evento Desconocido"
        },
        "Evento Desconocido": {
            "Type": "Fail",
            "Error": "UnknownEvent",
            "Cause": "El tipo de evento no es soportado"
        },
        "Validar Datos de Entrada": {
            "Type": "Pass",
            "Next": "Tiene RUC?"
        },
        "Tiene RUC?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $exists($states.input.ruc) %}",
                    "Next": "Validar RUC (Sunat/Api)"
                }
            ],
            "Default": "Analisis de Riesgo (Anti-Fraude)"
        },
        "Validar RUC (Sunat/Api)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "",
                "ruc": "{% $states.input.ruc %}"
            },
            "Output": "{% $merge([$states.input, { 'rucValido': $states.result.valido }]) %}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "MaxAttempts": 2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Notificar: Error RUC"
                }
            ],
            "Next": "Analisis de Riesgo (Anti-Fraude)"
        },
        "Analisis de Riesgo (Anti-Fraude)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "",
                "userId": "{% $states.input.userId %}",
                "amount": "{% $states.input.amount %}",
                "ip": "{% $states.input.ip %}"
            },
            "Output": "{% $merge([$states.input, { 'riskScore': $states.result.score }]) %}",
            "Next": "Evaluacion de Riesgo"
        },
        "Evaluacion de Riesgo": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.riskScore > 80 %}",
                    "Next": "Notificar: Pago Rechazado (Fraude)"
                }
            ],
            "Default": "Ejecutar Pasarela de Pago"
        },
        "Ejecutar Pasarela de Pago": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "",
                "amount": "{% $states.input.amount %}",
                "token": "{% $states.input.paymentToken %}",
                "orderId": "{% $states.input.orderId %}"
            },
            "Output": "{% $merge([$states.input, { 'paymentResult': $states.result }]) %}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "PaymentRejected",
                        "InsufficientFunds"
                    ],
                    "Next": "Notificar: Pago Rechazado (Banco)"
                },
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Notificar: Error Tecnico"
                }
            ],
            "Next": "Registrar Transaccion Exitosa"
        },
        "Registrar Transaccion Exitosa": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "DB_Transacciones",
                "Item": {
                    "pk": {
                        "S": "{% 'TX#' & $uuid() %}"
                    },
                    "sk": {
                        "S": "METADATA"
                    },
                    "orderId": {
                        "S": "{% $states.input.orderId %}"
                    },
                    "userId": {
                        "S": "{% $states.input.userId %}"
                    },
                    "amount": {
                        "N": "{% $string($states.input.amount) %}"
                    },
                    "status": {
                        "S": "COMPLETED"
                    },
                    "gatewayId": {
                        "S": "{% $states.input.paymentResult.transactionId %}"
                    },
                    "timestamp": {
                        "S": "{% $now() %}"
                    },
                    "invoiceType": {
                        "S": "{% $exists($states.input.ruc) ? 'FACTURA' : 'BOLETA' %}"
                    }
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Paralelo: Notificar y Facturar"
        },
        "Paralelo: Notificar y Facturar": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "Notificar: Pago Exitoso",
                    "States": {
                        "Notificar: Pago Exitoso": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Arguments": {
                                "Entries": [
                                    {
                                        "Source": "app.payments",
                                        "DetailType": "Payment.Success",
                                        "Detail": {
                                            "meta": {
                                                "scope": "NOTIFICATION",
                                                "targetType": "USER",
                                                "targetId": "{% $states.input.userId %}"
                                            },
                                            "ui": {
                                                "action": "REDIRECT",
                                                "target": "/order/confirmed",
                                                "variant": "SUCCESS",
                                                "message": "Pago procesado correctamente"
                                            },
                                            "data": {
                                                "orderId": "{% $states.input.orderId %}",
                                                "txId": "{% $states.input.paymentResult.transactionId %}"
                                            }
                                        }
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Verificar Facturacion",
                    "States": {
                        "Verificar Facturacion": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Condition": "{% $exists($states.input.ruc) %}",
                                    "Next": "Emitir Comprobante"
                                }
                            ],
                            "Default": "No Requiere Factura"
                        },
                        "No Requiere Factura": {
                            "Type": "Pass",
                            "End": true
                        },
                        "Emitir Comprobante": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Arguments": {
                                "Entries": [
                                    {
                                        "Source": "app.payments",
                                        "DetailType": "Billing.GenerateInvoice",
                                        "Detail": {
                                            "ruc": "{% $states.input.ruc %}",
                                            "amount": "{% $states.input.amount %}",
                                            "orderId": "{% $states.input.orderId %}"
                                        }
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                }
            ],
            "End": true
        },
        "Notificar: Error RUC": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.payments",
                        "DetailType": "Payment.Failed",
                        "Detail": {
                            "meta": {
                                "scope": "NOTIFICATION",
                                "targetType": "USER",
                                "targetId": "{% $states.input.userId %}"
                            },
                            "ui": {
                                "action": "SHOW_TOAST",
                                "variant": "ERROR",
                                "message": "RUC Inválido"
                            },
                            "data": {
                                "reason": "INVALID_RUC"
                            }
                        }
                    }
                ]
            },
            "End": true
        },
        "Notificar: Pago Rechazado (Fraude)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.payments",
                        "DetailType": "Payment.Failed",
                        "Detail": {
                            "meta": {
                                "scope": "NOTIFICATION",
                                "targetType": "USER",
                                "targetId": "{% $states.input.userId %}"
                            },
                            "ui": {
                                "action": "SHOW_TOAST",
                                "variant": "ERROR",
                                "message": "Pago rechazado por seguridad"
                            },
                            "data": {
                                "reason": "HIGH_RISK"
                            }
                        }
                    }
                ]
            },
            "End": true
        },
        "Notificar: Pago Rechazado (Banco)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.payments",
                        "DetailType": "Payment.Failed",
                        "Detail": {
                            "meta": {
                                "scope": "NOTIFICATION",
                                "targetType": "USER",
                                "targetId": "{% $states.input.userId %}"
                            },
                            "ui": {
                                "action": "SHOW_TOAST",
                                "variant": "ERROR",
                                "message": "Tarjeta rechazada"
                            },
                            "data": {
                                "reason": "BANK_DECLINE"
                            }
                        }
                    }
                ]
            },
            "End": true
        },
        "Notificar: Error Tecnico": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.payments",
                        "DetailType": "Payment.Error",
                        "Detail": {
                            "meta": {
                                "scope": "NOTIFICATION",
                                "targetType": "USER",
                                "targetId": "{% $states.input.userId %}"
                            },
                            "ui": {
                                "action": "SHOW_TOAST",
                                "variant": "WARNING",
                                "message": "Error de conexión"
                            },
                            "data": {
                                "reason": "SYSTEM_ERROR"
                            }
                        }
                    }
                ]
            },
            "End": true
        },
        "Procesar Reembolso": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:getItem",
            "Arguments": {
                "TableName": "DB_Transacciones",
                "IndexName": "OrderIdIndex",
                "Key": {
                    "orderId": {
                        "S": "{% $states.input.detail.data.orderId %}"
                    }
                }
            },
            "Output": "{% $merge([$states.input, { 'txItem': $states.result.Item }]) %}",
            "Next": "Ejecutar Devolucion (Gateway)"
        },
        "Ejecutar Devolucion (Gateway)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "",
                "transactionId": "{% $states.input.txItem.gatewayId.S %}",
                "amount": "{% $states.input.detail.data.refundAmount %}"
            },
            "Output": "{% $states.input %}",
            "Next": "Actualizar DB: Reembolsado"
        },
        "Actualizar DB: Reembolsado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "DB_Transacciones",
                "Key": {
                    "pk": {
                        "S": "{% $states.input.txItem.pk.S %}"
                    },
                    "sk": {
                        "S": "METADATA"
                    }
                },
                "UpdateExpression": "SET #status = :s, refundDate = :d",
                "ExpressionAttributeNames": {
                    "#status": "status"
                },
                "ExpressionAttributeValues": {
                    ":s": {
                        "S": "REFUNDED"
                    },
                    ":d": {
                        "S": "{% $now() %}"
                    }
                }
            },
            "Next": "Notificar: Reembolso Completado"
        },
        "Notificar: Reembolso Completado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.payments",
                        "DetailType": "Payment.Refunded",
                        "Detail": {
                            "meta": {
                                "scope": "NOTIFICATION",
                                "targetType": "USER",
                                "targetId": "{% $states.input.txItem.userId.S %}"
                            },
                            "ui": {
                                "action": "SHOW_TOAST",
                                "variant": "INFO",
                                "message": "Reembolso procesado exitosamente"
                            },
                            "data": {
                                "orderId": "{% $states.input.detail.data.orderId %}"
                            }
                        }
                    }
                ]
            },
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}