inventory/ms-inventory.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Choice",
    "States": {
        "Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.detail.eventType = 'ObtenerProductos' %}",
                    "Next": "Obtener Stock paginado"
                },
                {
                    "Condition": "{% $states.input.detail.eventType = 'VerificarStock' %}",
                    "Next": "Obtener Stock de los productos"
                },
                {
                    "Condition": "{% $states.input.detail.eventType = 'PagoConfirmado' %}",
                    "Next": "Notificar:"
                },
                {
                    "Condition": "{% $states.input.detail.eventType = 'PagoFallido' %}",
                    "Next": "Devolver reserva"
                }
            ]
        },
        "Devolver reserva": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "Arguments": {
                "TableName": "DB Inventario",
                "Key": {
                    "productId": {
                        "S": "{% $states.input.detail.productId %}"
                    }
                },
                "UpdateExpression": "SET stock = stock + :reservedQty",
                "ExpressionAttributeValues": {
                    ":reservedQty": {
                        "N": "{% $states.input.detail.reservedQty %}"
                    }
                },
                "ReturnValues": "UPDATED_NEW"
            },
            "Next": "Pedido cancelado"
        },
        "Obtener Stock paginado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Arguments": {
                "TableName": "DB Inventario",
                "IndexName.$": "{% $states.input.detail.indexName ? $states.input.detail.indexName : null %}",
                "KeyConditionExpression": "productType = :ptype",
                "ExpressionAttributeValues.$": "{% $merge({':ptype': {'S': $states.input.detail.productType}, ':zero': {'N': '0'}}) %}",
                "FilterExpression": "stock > :zero",
                "Limit": "{% $states.input.detail.limit ? $states.input.detail.limit : 50 %}",
                "ExclusiveStartKey.$": "{% $states.input.detail.exclusiveStartKey ? $states.input.detail.exclusiveStartKey : null %}"
            },
            "End": true
        },
        "Obtener Stock de los productos": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:batchGetItem",
            "Arguments": {
                "RequestItems": {
                    "DB Inventario": {
                        "Keys.$": "{% $states.input.detail.productIds ~> $map(function($id){ { 'productId': {'S': $id} } }) %}",
                        "ProjectionExpression": "productId, stock, reserved"
                    }
                }
            },
            "Next": "RevisarStock"
        },
        "RevisarStock": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "{% $states.input.detail.revisarStockLambdaArn ? $states.input.detail.revisarStockLambdaArn : '' %}",
                "Payload.$": "$"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "Choice (1)"
        },
        "Choice (1)": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.Payload.reserved = true %}",
                    "Next": "StockReservado"
                },
                {
                    "Condition": "{% $states.input.Payload.reserved = false %}",
                    "Next": "Stock no disponible"
                }
            ]
        },
        "Stock no disponible": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Detail": "{% $string($merge($states.input.Payload, { eventType: 'StockNoDisponible' })) %}",
                        "DetailType": "StockNoDisponible",
                        "EventBusName": "{% $states.input.detail.eventBusName ? $states.input.detail.eventBusName : 'MyEventBusName' %}",
                        "Source": "inventario.microservicio"
                    }
                ]
            },
            "End": true
        },
        "StockReservado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Detail": "{% $string($merge($states.input.Payload, { eventType: 'StockReservado' })) %}",
                        "DetailType": "StockReservado",
                        "EventBusName": "{% $states.input.detail.eventBusName ? $states.input.detail.eventBusName : 'MyEventBusName' %}",
                        "Source": "inventario.microservicio"
                    }
                ]
            },
            "End": true
        },
        "Notificar:": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Detail": "{% $string($merge($states.input, { eventType: 'PedidoEnPreparacion' })) %}",
                        "DetailType": "PedidoEnPreparacion",
                        "EventBusName": "{% $states.input.detail.eventBusName ? $states.input.detail.eventBusName : 'MyEventBusName' %}",
                        "Source": "inventario.microservicio"
                    }
                ]
            },
            "End": true
        },
        "Pedido cancelado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Detail": "{% $string($merge($states.input.Attributes ? $states.input.Attributes : $states.input, { eventType: 'PedidoCancelado' })) %}",
                        "DetailType": "PedidoCancelado",
                        "EventBusName": "{% $states.input.detail.eventBusName ? $states.input.detail.eventBusName : 'MyEventBusName' %}",
                        "Source": "inventario.microservicio"
                    }
                ]
            },
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}