inventory/serverless.yml
service: revisar-stock-service

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: dev
  role: arn:aws:iam::530708554320:role/LabRole
  environment:
    TABLE_NAME: DB_Inventario
    EVENT_BUS_NAME: MyEventBusName

functions:
  RevisarStock:
    handler: src/RevisarStock.handler
    memorySize: 512
    timeout: 30
    environment:
      TABLE_NAME: ${self:provider.environment.TABLE_NAME}
      EVENT_BUS_NAME: ${self:provider.environment.EVENT_BUS_NAME}
    events:
      - httpApi:
          path: /revisar-stock
          method: post

package:
  individually: true

resources:
  Resources:

    DBInventarioTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: producto_id
            AttributeType: S
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: tipo_id
            AttributeType: S
        KeySchema:
          - AttributeName: producto_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: tenant_index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: tipo_index
            KeySchema:
              - AttributeName: tipo_id
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    MSInventoryStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: !Sub "${AWS::StackName}-ms-inventory"
        StateMachineType: STANDARD
        RoleArn: arn:aws:iam::530708554320:role/LabRole
        DefinitionString: |
          {
            "Comment": "ASL sin JSONata — usa JSONPath y .\$ donde corresponde",
            "StartAt": "Choice",
            "States": {
              "Choice": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.detail.eventType",
                    "StringEquals": "ObtenerProductos",
                    "Next": "Obtener Stock paginado"
                  },
                  {
                    "Variable": "$.detail.eventType",
                    "StringEquals": "VerificarStock",
                    "Next": "Obtener Stock de los productos"
                  },
                  {
                    "Variable": "$.detail.eventType",
                    "StringEquals": "PagoConfirmado",
                    "Next": "Pedido en preparación"
                  },
                  {
                    "Variable": "$.detail.eventType",
                    "StringEquals": "PagoFallido",
                    "Next": "Devolver reserva"
                  }
                ],
                "Default": "FailIfUnknownEvent"
              },

              "FailIfUnknownEvent": {
                "Type": "Fail",
                "Cause": "Evento no reconocido",
                "Error": "UnknownEvent"
              },

              "Devolver reserva": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
                "Arguments": {
                  "TableName": "DB_Inventario",
                  "Key": {
                    "productId": { "S.$": "$.detail.productId" }
                  },
                  "UpdateExpression": "SET stock = stock + :reservedQty",
                  "ExpressionAttributeValues": {
                    ":reservedQty": { "N.$": "$.detail.reservedQty" }
                  },
                  "ReturnValues": "UPDATED_NEW"
                },
                "Next": "Pedido cancelado"
              },

              "Obtener Stock paginado": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
                "Arguments": {
                  "TableName": "DB_Inventario",
                  "IndexName.$": "$.detail.indexName",
                  "KeyConditionExpression": "productType = :ptype",
                  "ExpressionAttributeValues": {
                    ":ptype": { "S.$": "$.detail.productType" },
                    ":zero": { "N": "0" }
                  },
                  "FilterExpression": "stock > :zero",
                  "Limit.$": "$.detail.limit",
                  "ExclusiveStartKey.$": "$.detail.exclusiveStartKey"
                },
                "Next": "Notificar: Stock listado"
              },

              "Notificar: Stock listado": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Arguments": {
                  "Entries": [
                    {
                      "Detail.$": "$",                     /* publica el input completo */
                      "DetailType": "StockListado",
                      "EventBusName": "MyEventBusName",
                      "Source": "inventario.microservicio"
                    }
                  ]
                },
                "End": true
              },

              "Obtener Stock de los productos": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:dynamodb:batchGetItem",
                "Arguments": {
                  "RequestItems": {
                    "DB_Inventario": {
                      "Keys.$": "$.detail.productIds",
                      "ProjectionExpression": "productId, stock, reserved"
                    }
                  }
                },
                "Next": "RevisarStock"
              },

              "RevisarStock": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Arguments": {
                  "FunctionName.$": "$.detail.revisarStockLambdaArn",
                  "Payload.$": "$"
                },
                "Retry": [
                  {
                    "ErrorEquals": [
                      "Lambda.ServiceException",
                      "Lambda.AWSLambdaException",
                      "Lambda.SdkClientException",
                      "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                  }
                ],
                "Next": "Choice (1)"
              },

              "Choice (1)": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.Payload.reserved",
                    "BooleanEquals": true,
                    "Next": "StockReservado"
                  },
                  {
                    "Variable": "$.Payload.reserved",
                    "BooleanEquals": false,
                    "Next": "Stock no disponible"
                  }
                ],
                "Default": "Stock no disponible"
              },

              "Stock no disponible": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Arguments": {
                  "Entries": [
                    {
                      "Detail.$": "$.Payload",
                      "DetailType": "StockNoDisponible",
                      "EventBusName.$": "$.detail.eventBusName",
                      "Source": "inventario.microservicio"
                    }
                  ]
                },
                "End": true
              },

              "StockReservado": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Arguments": {
                  "Entries": [
                    {
                      "Detail.$": "$.Payload",
                      "DetailType": "StockReservado",
                      "EventBusName.$": "$.detail.eventBusName",
                      "Source": "inventario.microservicio"
                    }
                  ]
                },
                "End": true
              },

              "Pedido en preparación": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Arguments": {
                  "Entries": [
                    {
                      "Detail.$": "$",
                      "DetailType": "PedidoEnPreparacion",
                      "EventBusName.$": "$.detail.eventBusName",
                      "Source": "inventario.microservicio"
                    }
                  ]
                },
                "End": true
              },

              "Pedido cancelado": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Arguments": {
                  "Entries": [
                    {
                      "Detail.$": "$.Attributes",
                      "DetailType": "PedidoCancelado",
                      "EventBusName.$": "$.detail.eventBusName",
                      "Source": "inventario.microservicio"
                    }
                  ]
                },
                "End": true
              }
            }
          }
