Session-Manager-MS/ms-session-manager.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Selector de Evento",
    "States": {
        "Selector de Evento": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Login Cliente",
                    "Condition": "{% $['detail-type'] = 'LoginCliente' %}"
                },
                {
                    "Next": "Login Manager",
                    "Condition": "{% $['detail-type'] = 'LoginManagerAdmin' %}"
                },
                {
                    "Next": "SignUp",
                    "Condition": "{% $['detail-type'] = 'RegisterCliente' %}"
                },
                {
                    "Condition": "{% $['detail-type'] = 'RegisterManager' %}",
                    "Next": "SignUp (1)"
                },
                {
                    "Condition": "{% $['detail-type'] = 'Ping' %}",
                    "Comment": "Esta ruta sirve para hacer Pong y que reinicie el ttl de la conexion",
                    "End": true
                }
            ]
        },
        "SignUp (1)": {
            "Type": "Task",
            "Arguments": {
                "ClientId": "MyData",
                "Username": "MyData"
            },
            "Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:signUp",
            "End": true
        },
        "Login Cliente": {
            "Type": "Task",
            "Arguments": {
                "AuthFlow": "USER_PASSWORD_AUTH",
                "AuthParameters": {
                    "USERNAME": "{% $client.gmail\n %}",
                    "PASSWORD": "{% $client.password %}"
                },
                "ClientId": "{% obtener con serverless %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:initiateAuth",
            "Comment": "Requiere parametro de serverless (argumentos)",
            "Next": "Verificar Rol Cliente"
        },
        "Verificar Rol Cliente": {
            "Type": "Task",
            "Arguments": {
                "UserPoolId": "{% inyectado con serverless %}",
                "Username": "{% $client.email %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:adminListGroupsForUser",
            "Next": "Es Cliente?"
        },
        "Es Cliente?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Agregar Rol Cliente a Conexion",
                    "Condition": "{% Si es cliente %}"
                }
            ],
            "Default": "Notificar: Login Fallido"
        },
        "Agregar Rol Cliente a Conexion": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "MyDynamoDBTable",
                "Key": {
                    "Column": {
                        "S": "MyEntry"
                    }
                },
                "UpdateExpression": "SET MyKey = :myValueRef",
                "ExpressionAttributeValues": {
                    ":myValueRef": {
                        "S": "MyValue"
                    }
                }
            },
            "Next": "Notificar: Login Exitoso"
        },
        "Notificar: Login Fallido": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
            "Arguments": {
                "Entries": [
                    {
                        "Detail": {
                            "Message": "Hello from Step Functions!",
                            "TaskToken": "{% $states.context.Task.Token %}"
                        },
                        "DetailType": "MyDetailType",
                        "EventBusName": "MyEventBusName",
                        "Source": "MySource"
                    }
                ]
            },
            "End": true
        },
        "Login Manager": {
            "Type": "Task",
            "Arguments": {
                "AuthFlow": "USER_PASSWORD_AUTH",
                "AuthParameters": {
                    "USERNAME": "{% $client.gmail\n %}",
                    "PASSWORD": "{% $client.password %}"
                },
                "ClientId": "{% obtener con serverless %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:initiateAuth",
            "Comment": "Requiere parametro de serverless (argumentos)",
            "Next": "Verificar Rol Manager o ADMIN"
        },
        "Verificar Rol Manager o ADMIN": {
            "Type": "Task",
            "Arguments": {
                "UserPoolId": "{% inyectado con serverless %}",
                "Username": "{% $client.email %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:adminListGroupsForUser",
            "Next": "Es Manager o Admin?"
        },
        "Es Manager o Admin?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Agregar Rol Manager o Admin a Conexion",
                    "Condition": "{% es Manager o Admin %}"
                }
            ],
            "Default": "Notificar: Login Fallido"
        },
        "Agregar Rol Manager o Admin a Conexion": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "MyDynamoDBTable",
                "Key": {
                    "Column": {
                        "S": "MyEntry"
                    }
                },
                "UpdateExpression": "SET MyKey = :myValueRef",
                "ExpressionAttributeValues": {
                    ":myValueRef": {
                        "S": "MyValue"
                    }
                }
            },
            "Next": "Notificar: Login Exitoso"
        },
        "Notificar: Login Exitoso": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
            "Arguments": {
                "Entries": [
                    {
                        "Detail": {
                            "Message": "Hello from Step Functions!",
                            "TaskToken": "{% $states.context.Task.Token %}"
                        },
                        "DetailType": "MyDetailType",
                        "EventBusName": "MyEventBusName",
                        "Source": "MySource"
                    }
                ]
            },
            "End": true
        },
        "SignUp": {
            "Type": "Task",
            "Arguments": {
                "ClientId": "MyData",
                "Username": "MyData"
            },
            "Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:signUp",
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}