restaurant/delivery/delivery.asl.json
{
    "Comment": "Microservicio Delivery - Event-driven con formato estandarizado de notificaciones",
    "StartAt": "IdentificarTipoEvento",
    "States": {
        "IdentificarTipoEvento": {
            "Type": "Choice",
            "Comment": "Enruta segun el tipo de evento recibido",
            "Choices": [
                {
                    "Condition": "{% $states.input['detail-type'] = 'PagoConfirmado' %}",
                    "Next": "BuscarCocineroDisponible"
                },
                {
                    "Condition": "{% $states.input['detail-type'] = 'ComidaPreparada' %}",
                    "Next": "BuscarDespachadorDisponible"
                },
                {
                    "Condition": "{% $states.input['detail-type'] = 'Despachado' %}",
                    "Next": "BuscarRepartidorDisponible"
                },
                {
                    "Condition": "{% $states.input['detail-type'] = 'Entregado' %}",
                    "Next": "ActualizarPedidoEntregado"
                }
            ],
            "Default": "EventoNoReconocido"
        },
        "BuscarCocineroDisponible": {
            "Type": "Task",
            "Comment": "Busca un cocinero disponible usando GSI tenant_context + Role",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Arguments": {
                "TableName": "${UsuariosTable}",
                "IndexName": "TenantRoleIndex",
                "KeyConditionExpression": "tenant_context = :tenantContext AND #role = :role",
                "FilterExpression": "attribute_exists(atributos) AND contains(atributos, :activo)",
                "ExpressionAttributeNames": {
                    "#role": "Role"
                },
                "ExpressionAttributeValues": {
                    ":tenantContext": {
                        "S": "{% 'TENANT#' & $states.input.detail.sucursalId %}"
                    },
                    ":role": {
                        "S": "COCINERO"
                    },
                    ":activo": {
                        "S": "\"activo\":true"
                    }
                },
                "Limit": 1
            },
            "Output": "{% {'orderId': $states.input.detail.orderId, 'sucursalId': $states.input.detail.sucursalId, 'customerId': $states.input.detail.customerId, 'customerEmail': $states.input.detail.customerEmail, 'correlationId': $states.input.detail.correlationId ? $states.input.detail.correlationId : $uuid(), 'cocinero': $states.result.Items[0] != undefined ? {'userId': $states.result.Items[0].user_id.S, 'nombre': $eval($states.result.Items[0].atributos.S).nombre} : null} %}",
            "Next": "ValidarCocineroEncontrado"
        },
        "ValidarCocineroEncontrado": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.cocinero != null %}",
                    "Next": "AsignarCocineroAlPedido"
                }
            ],
            "Default": "FailNoCocineros"
        },
        "AsignarCocineroAlPedido": {
            "Type": "Task",
            "Comment": "Crea registro con entity=EnPreparacion",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "${PedidosTable}",
                "Item": {
                    "pedido_id": {
                        "S": "{% 'Pedido#' & $states.input.orderId %}"
                    },
                    "entity": {
                        "S": "EnPreparacion"
                    },
                    "sucursal": {
                        "S": "{% $states.input.sucursalId %}"
                    },
                    "estadoFecha": {
                        "S": "{% 'EnPreparacion#' & $now() %}"
                    },
                    "Cliente": {
                        "S": "{% $states.input.customerId %}"
                    },
                    "Estado": {
                        "S": "EnPreparacion"
                    },
                    "DesEstado": {
                        "S": "Pedido en preparación"
                    },
                    "Historial": {
                        "L": [
                            {
                                "M": {
                                    "estado": {
                                        "S": "EnPreparacion"
                                    },
                                    "timestamp": {
                                        "S": "{% $now() %}"
                                    },
                                    "actor": {
                                        "S": "{% $states.input.cocinero.userId %}"
                                    }
                                }
                            }
                        ]
                    },
                    "atributos": {
                        "S": "{% $string({'Asignado': $states.input.cocinero.userId, 'cocineroNombre': $states.input.cocinero.nombre}) %}"
                    }
                }
            },
            "Next": "PublicarEventoPreparacion"
        },
        "PublicarEventoPreparacion": {
            "Type": "Parallel",
            "Comment": "Publica eventos para Email y Notificaciones",
            "Branches": [
                {
                    "StartAt": "EnviarEmailPreparacion",
                    "States": {
                        "EnviarEmailPreparacion": {
                            "Type": "Task",
                            "Comment": "Lambda sendEmail - Notifica preparación via SendGrid",
                            "Resource": "${SendEmailLambdaArn}",
                            "Arguments": {
                                "to": "{% $states.input.customerEmail %}",
                                "subject": "Tu pedido está en preparación - China Wok",
                                "htmlContent": "{% '<html><body><h2>¡Tu pedido está siendo preparado!</h2><p>Hola,</p><p>Tu pedido <strong>' & $states.input.orderId & '</strong> ha sido asignado al cocinero <strong>' & $states.input.cocinero.nombre & '</strong>.</p><p>Estado: <strong>EN PREPARACIÓN</strong></p><p>Gracias por tu preferencia.</p><p>China Wok</p></body></html>' %}"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "EmailFallidoPreparacion"
                                }
                            ],
                            "End": true
                        },
                        "EmailFallidoPreparacion": {
                            "Type": "Pass",
                            "Comment": "Error al enviar email",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "NotificarPreparacion",
                    "States": {
                        "NotificarPreparacion": {
                            "Type": "Task",
                            "Comment": "Publica evento con formato estandarizado del notificador",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Arguments": {
                                "Entries": [
                                    {
                                        "Source": "app.delivery",
                                        "DetailType": "Pedido.EnPreparacion",
                                        "Detail": {
                                            "meta": {
                                                "scope": "NOTIFICATION",
                                                "targetType": "USER",
                                                "targetId": "{% $states.input.customerId %}",
                                                "correlationId": "{% $states.input.correlationId %}"
                                            },
                                            "ui": {
                                                "action": "SHOW_TOAST",
                                                "variant": "INFO",
                                                "target": "order_tracking",
                                                "message": "{% 'Tu pedido está siendo preparado por ' & $states.input.cocinero.nombre %}"
                                            },
                                            "data": {
                                                "orderId": "{% $states.input.orderId %}",
                                                "sucursalId": "{% $states.input.sucursalId %}",
                                                "status": "EnPreparacion",
                                                "cocineroId": "{% $states.input.cocinero.userId %}",
                                                "cocineroNombre": "{% $states.input.cocinero.nombre %}",
                                                "timestamp": "{% $now() %}"
                                            }
                                        },
                                        "EventBusName": "${EventBusName}"
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                }
            ],
            "End": true
        },
        "BuscarDespachadorDisponible": {
            "Type": "Task",
            "Comment": "Busca despachador usando GSI",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Arguments": {
                "TableName": "${UsuariosTable}",
                "IndexName": "TenantRoleIndex",
                "KeyConditionExpression": "tenant_context = :tenantContext AND #role = :role",
                "FilterExpression": "attribute_exists(atributos) AND contains(atributos, :activo)",
                "ExpressionAttributeNames": {
                    "#role": "Role"
                },
                "ExpressionAttributeValues": {
                    ":tenantContext": {
                        "S": "{% 'TENANT#' & $states.input.detail.sucursalId %}"
                    },
                    ":role": {
                        "S": "DESPACHADOR"
                    },
                    ":activo": {
                        "S": "\"activo\":true"
                    }
                },
                "Limit": 1
            },
            "Output": "{% {'orderId': $states.input.detail.orderId, 'sucursalId': $states.input.detail.sucursalId, 'customerId': $states.input.detail.customerId, 'customerEmail': $states.input.detail.customerEmail, 'correlationId': $states.input.detail.correlationId ? $states.input.detail.correlationId : $uuid(), 'cocineroId': $states.input.detail.cocineroId, 'despachador': $states.result.Items[0] != undefined ? {'userId': $states.result.Items[0].user_id.S, 'nombre': $eval($states.result.Items[0].atributos.S).nombre} : null} %}",
            "Next": "ValidarDespachadorEncontrado"
        },
        "ValidarDespachadorEncontrado": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.despachador != null %}",
                    "Next": "AsignarDespachadorAlPedido"
                }
            ],
            "Default": "FailNoDespachadores"
        },
        "AsignarDespachadorAlPedido": {
            "Type": "Task",
            "Comment": "Crea registro con entity=EnDespacho",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "${PedidosTable}",
                "Item": {
                    "pedido_id": {
                        "S": "{% 'Pedido#' & $states.input.orderId %}"
                    },
                    "entity": {
                        "S": "EnDespacho"
                    },
                    "sucursal": {
                        "S": "{% $states.input.sucursalId %}"
                    },
                    "estadoFecha": {
                        "S": "{% 'EnDespacho#' & $now() %}"
                    },
                    "Cliente": {
                        "S": "{% $states.input.customerId %}"
                    },
                    "Estado": {
                        "S": "EnDespacho"
                    },
                    "DesEstado": {
                        "S": "Pedido siendo empacado"
                    },
                    "Historial": {
                        "L": [
                            {
                                "M": {
                                    "estado": {
                                        "S": "EnDespacho"
                                    },
                                    "timestamp": {
                                        "S": "{% $now() %}"
                                    },
                                    "actor": {
                                        "S": "{% $states.input.despachador.userId %}"
                                    }
                                }
                            }
                        ]
                    },
                    "atributos": {
                        "S": "{% $string({'Asignado': $states.input.despachador.userId, 'despachadorNombre': $states.input.despachador.nombre, 'cocineroId': $states.input.cocineroId}) %}"
                    }
                }
            },
            "Next": "PublicarEventoDespacho"
        },
        "PublicarEventoDespacho": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "EnviarEmailDespacho",
                    "States": {
                        "EnviarEmailDespacho": {
                            "Type": "Task",
                            "Comment": "Lambda sendEmail - Notifica despacho via SendGrid",
                            "Resource": "${SendEmailLambdaArn}",
                            "Arguments": {
                                "to": "{% $states.input.customerEmail %}",
                                "subject": "Tu pedido está siendo empacado - China Wok",
                                "htmlContent": "{% '<html><body><h2>¡Tu pedido está siendo empacado!</h2><p>Hola,</p><p>Tu pedido <strong>' & $states.input.orderId & '</strong> ha sido asignado al despachador <strong>' & $states.input.despachador.nombre & '</strong>.</p><p>Estado: <strong>EN DESPACHO</strong></p><p>Pronto estará listo para envío.</p><p>China Wok</p></body></html>' %}"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "EmailFallidoDespacho"
                                }
                            ],
                            "End": true
                        },
                        "EmailFallidoDespacho": {
                            "Type": "Pass",
                            "Comment": "Error al enviar email",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "NotificarDespacho",
                    "States": {
                        "NotificarDespacho": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Arguments": {
                                "Entries": [
                                    {
                                        "Source": "app.delivery",
                                        "DetailType": "Pedido.EnDespacho",
                                        "Detail": {
                                            "meta": {
                                                "scope": "NOTIFICATION",
                                                "targetType": "USER",
                                                "targetId": "{% $states.input.customerId %}",
                                                "correlationId": "{% $states.input.correlationId %}"
                                            },
                                            "ui": {
                                                "action": "SHOW_TOAST",
                                                "variant": "INFO",
                                                "target": "order_tracking",
                                                "message": "{% 'Tu pedido está siendo empacado por ' & $states.input.despachador.nombre %}"
                                            },
                                            "data": {
                                                "orderId": "{% $states.input.orderId %}",
                                                "sucursalId": "{% $states.input.sucursalId %}",
                                                "status": "EnDespacho",
                                                "despachadorId": "{% $states.input.despachador.userId %}",
                                                "despachadorNombre": "{% $states.input.despachador.nombre %}",
                                                "timestamp": "{% $now() %}"
                                            }
                                        },
                                        "EventBusName": "${EventBusName}"
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                }
            ],
            "End": true
        },
        "BuscarRepartidorDisponible": {
            "Type": "Task",
            "Comment": "Busca repartidor usando GSI",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Arguments": {
                "TableName": "${UsuariosTable}",
                "IndexName": "TenantRoleIndex",
                "KeyConditionExpression": "tenant_context = :tenantContext AND #role = :role",
                "FilterExpression": "attribute_exists(atributos) AND contains(atributos, :activo)",
                "ExpressionAttributeNames": {
                    "#role": "Role"
                },
                "ExpressionAttributeValues": {
                    ":tenantContext": {
                        "S": "{% 'TENANT#' & $states.input.detail.sucursalId %}"
                    },
                    ":role": {
                        "S": "REPARTIDOR"
                    },
                    ":activo": {
                        "S": "\"activo\":true"
                    }
                },
                "Limit": 1
            },
            "Output": "{% {'orderId': $states.input.detail.orderId, 'sucursalId': $states.input.detail.sucursalId, 'customerId': $states.input.detail.customerId, 'customerEmail': $states.input.detail.customerEmail, 'correlationId': $states.input.detail.correlationId ? $states.input.detail.correlationId : $uuid(), 'despachadorId': $states.input.detail.despachadorId, 'repartidor': $states.result.Items[0] != undefined ? {'userId': $states.result.Items[0].user_id.S, 'nombre': $eval($states.result.Items[0].atributos.S).nombre} : null} %}",
            "Next": "ValidarRepartidorEncontrado"
        },
        "ValidarRepartidorEncontrado": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.repartidor != null %}",
                    "Next": "AsignarRepartidorAlPedido"
                }
            ],
            "Default": "FailNoRepartidores"
        },
        "AsignarRepartidorAlPedido": {
            "Type": "Task",
            "Comment": "Crea registro con entity=EnCamino",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "${PedidosTable}",
                "Item": {
                    "pedido_id": {
                        "S": "{% 'Pedido#' & $states.input.orderId %}"
                    },
                    "entity": {
                        "S": "EnCamino"
                    },
                    "sucursal": {
                        "S": "{% $states.input.sucursalId %}"
                    },
                    "estadoFecha": {
                        "S": "{% 'EnCamino#' & $now() %}"
                    },
                    "Cliente": {
                        "S": "{% $states.input.customerId %}"
                    },
                    "Estado": {
                        "S": "EnCamino"
                    },
                    "DesEstado": {
                        "S": "Pedido en camino"
                    },
                    "Historial": {
                        "L": [
                            {
                                "M": {
                                    "estado": {
                                        "S": "EnCamino"
                                    },
                                    "timestamp": {
                                        "S": "{% $now() %}"
                                    },
                                    "actor": {
                                        "S": "{% $states.input.repartidor.userId %}"
                                    }
                                }
                            }
                        ]
                    },
                    "atributos": {
                        "S": "{% $string({'Asignado': $states.input.repartidor.userId, 'repartidorNombre': $states.input.repartidor.nombre, 'despachadorId': $states.input.despachadorId}) %}"
                    }
                }
            },
            "Next": "PublicarEventoEnCamino"
        },
        "PublicarEventoEnCamino": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "EnviarEmailEnCamino",
                    "States": {
                        "EnviarEmailEnCamino": {
                            "Type": "Task",
                            "Comment": "Lambda sendEmail - Notifica envío via SendGrid",
                            "Resource": "${SendEmailLambdaArn}",
                            "Arguments": {
                                "to": "{% $states.input.customerEmail %}",
                                "subject": "¡Tu pedido está en camino! - China Wok",
                                "htmlContent": "{% '<html><body><h2>¡Tu pedido está en camino!</h2><p>Hola,</p><p>Tu pedido <strong>' & $states.input.orderId & '</strong> ha sido asignado al repartidor <strong>' & $states.input.repartidor.nombre & '</strong>.</p><p>Estado: <strong>EN CAMINO</strong></p><p>Llegará pronto a tu dirección.</p><p>China Wok</p></body></html>' %}"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "EmailFallidoEnCamino"
                                }
                            ],
                            "End": true
                        },
                        "EmailFallidoEnCamino": {
                            "Type": "Pass",
                            "Comment": "Error al enviar email",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "NotificarEnCamino",
                    "States": {
                        "NotificarEnCamino": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Arguments": {
                                "Entries": [
                                    {
                                        "Source": "app.delivery",
                                        "DetailType": "Pedido.EnCamino",
                                        "Detail": {
                                            "meta": {
                                                "scope": "NOTIFICATION",
                                                "targetType": "USER",
                                                "targetId": "{% $states.input.customerId %}",
                                                "correlationId": "{% $states.input.correlationId %}"
                                            },
                                            "ui": {
                                                "action": "REDIRECT",
                                                "variant": "SUCCESS",
                                                "target": "/order/tracking",
                                                "message": "{% 'Tu pedido está en camino con ' & $states.input.repartidor.nombre %}"
                                            },
                                            "data": {
                                                "orderId": "{% $states.input.orderId %}",
                                                "sucursalId": "{% $states.input.sucursalId %}",
                                                "status": "EnCamino",
                                                "repartidorId": "{% $states.input.repartidor.userId %}",
                                                "repartidorNombre": "{% $states.input.repartidor.nombre %}",
                                                "timestamp": "{% $now() %}",
                                                "redirectUrl": "{% '/order/' & $states.input.orderId & '/track' %}"
                                            }
                                        },
                                        "EventBusName": "${EventBusName}"
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                }
            ],
            "End": true
        },
        "ActualizarPedidoEntregado": {
            "Type": "Task",
            "Comment": "Crea registro con entity=Entregado",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "${PedidosTable}",
                "Item": {
                    "pedido_id": {
                        "S": "{% 'Pedido#' & $states.input.detail.orderId %}"
                    },
                    "entity": {
                        "S": "Entregado"
                    },
                    "sucursal": {
                        "S": "{% $states.input.detail.sucursalId %}"
                    },
                    "estadoFecha": {
                        "S": "{% 'Entregado#' & $now() %}"
                    },
                    "Cliente": {
                        "S": "{% $states.input.detail.customerId %}"
                    },
                    "Estado": {
                        "S": "Entregado"
                    },
                    "DesEstado": {
                        "S": "Pedido entregado"
                    },
                    "Historial": {
                        "L": [
                            {
                                "M": {
                                    "estado": {
                                        "S": "Entregado"
                                    },
                                    "timestamp": {
                                        "S": "{% $now() %}"
                                    },
                                    "confirmationCode": {
                                        "S": "{% $states.input.detail.confirmationCode %}"
                                    }
                                }
                            }
                        ]
                    },
                    "atributos": {
                        "S": "{% $string({'confirmationCode': $states.input.detail.confirmationCode, 'deliveryTimestamp': $states.input.detail.deliveryTimestamp}) %}"
                    }
                }
            },
            "Output": "{% {'orderId': $states.input.detail.orderId, 'sucursalId': $states.input.detail.sucursalId, 'customerId': $states.input.detail.customerId, 'customerEmail': $states.input.detail.customerEmail, 'correlationId': $states.input.detail.correlationId ? $states.input.detail.correlationId : $uuid(), 'confirmationCode': $states.input.detail.confirmationCode} %}",
            "Next": "PublicarEventoEntregado"
        },
        "PublicarEventoEntregado": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "EnviarEmailEntregado",
                    "States": {
                        "EnviarEmailEntregado": {
                            "Type": "Task",
                            "Comment": "Lambda sendEmail - Notifica entrega via SendGrid",
                            "Resource": "${SendEmailLambdaArn}",
                            "Arguments": {
                                "to": "{% $states.input.customerEmail %}",
                                "subject": "¡Pedido entregado exitosamente! - China Wok",
                                "htmlContent": "{% '<html><body><h2>¡Tu pedido fue entregado!</h2><p>Hola,</p><p>Tu pedido <strong>' & $states.input.orderId & '</strong> ha sido entregado exitosamente.</p><p>Estado: <strong>ENTREGADO</strong></p><p>Código de confirmación: <strong>' & $states.input.confirmationCode & '</strong></p><p>¡Gracias por tu preferencia!</p><p>China Wok</p></body></html>' %}"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "EmailFallidoEntregado"
                                }
                            ],
                            "End": true
                        },
                        "EmailFallidoEntregado": {
                            "Type": "Pass",
                            "Comment": "Error al enviar email",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "NotificarEntregado",
                    "States": {
                        "NotificarEntregado": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Arguments": {
                                "Entries": [
                                    {
                                        "Source": "app.delivery",
                                        "DetailType": "Pedido.Entregado",
                                        "Detail": {
                                            "meta": {
                                                "scope": "NOTIFICATION",
                                                "targetType": "USER",
                                                "targetId": "{% $states.input.customerId %}",
                                                "correlationId": "{% $states.input.correlationId %}"
                                            },
                                            "ui": {
                                                "action": "REDIRECT",
                                                "variant": "SUCCESS",
                                                "target": "/order/completed",
                                                "message": "¡Tu pedido ha sido entregado exitosamente!"
                                            },
                                            "data": {
                                                "orderId": "{% $states.input.orderId %}",
                                                "sucursalId": "{% $states.input.sucursalId %}",
                                                "status": "Entregado",
                                                "confirmationCode": "{% $states.input.confirmationCode %}",
                                                "timestamp": "{% $now() %}",
                                                "redirectUrl": "{% '/order/' & $states.input.orderId & '/review' %}"
                                            }
                                        },
                                        "EventBusName": "${EventBusName}"
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                }
            ],
            "End": true
        },
        "FailNoCocineros": {
            "Type": "Fail",
            "Error": "NoCocinerosDisponibles",
            "Cause": "No hay cocineros activos disponibles en la sucursal"
        },
        "FailNoDespachadores": {
            "Type": "Fail",
            "Error": "NoDespachadoresDisponibles",
            "Cause": "No hay despachadores activos disponibles en la sucursal"
        },
        "FailNoRepartidores": {
            "Type": "Fail",
            "Error": "NoRepartidoresDisponibles",
            "Cause": "No hay repartidores activos disponibles en la sucursal"
        },
        "EventoNoReconocido": {
            "Type": "Pass",
            "Comment": "Evento no reconocido - se ignora",
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}