restaurant/inventory/ms-inventory.asl.json
{
    "Comment": "Microservicio de Inventario: Listado, Reserva y Devolución",
    "StartAt": "Preparar Contexto",
    "States": {
        "Preparar Contexto": {
            "Type": "Pass",
            "Assign": {
                "meta": "{% $states.input.detail.meta %}",
                "inputData": "{% $states.input.detail.data %}",
                "eventType": "{% $states.input['detail-type'] %}",
                "taskToken": "{% $states.input.detail.data.myTaskToken %}"
            },
            "Next": "Router Eventos"
        },
        "Router Eventos": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $states.input.detail.eventType = 'Productos.Listar' %}",
                    "Next": "Obtener Stock paginado"
                },
                {
                    "Condition": "{% $eventType = 'Stock.Verificar' %}",
                    "Next": "Verificar y Reservar Stock"
                },
                {
                    "Condition": "{% $eventType = 'Pago.Confirmado' %}",
                    "Next": "State: Pedido en Preparacion"
                },
                {
                    "Condition": "{% $eventType = 'Pago.Fallido' %}",
                    "Next": "Revertir Reserva (Rollback)"
                },
                {
                    "Condition": "{% $eventType = 'Pedido.Cancelado' %}",
                    "Next": "Revertir Reserva (Rollback)"
                }
            ]
        },
        "Revertir Reserva (Rollback)": {
            "Type": "Task",
            "Arguments": {
                "TransactItems": "{% $inputData.items ~> $map(function($item) {\n{\n  \"Update\": {\n    \"TableName\": \"${self:custom.InventoryTableName}\",\n    \"Key\": {\n      \"pk\": { \"S\": $item.tenantId },\n      \"sk\": { \"S\": $item.productSku }\n    },\n    \"UpdateExpression\": \"SET stock = stock + :qty\",\n    \"ExpressionAttributeValues\": {\n      \":qty\": { \"N\": $string($item.qty) }\n    }\n  }\n}\n}) %}"
            },
            "Comment": "Suma el stock de vuelta a todos los items.",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:transactWriteItems",
            "Next": "Notificar: Pedido Cancelado",
            "Catch": [
                {
                    "ErrorEquals": [
                        "DynamoDB.TransactionCanceledException"
                    ],
                    "Next": "Error Critico: Fallo Reversion"
                }
            ]
        },
        "Obtener Stock paginado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Arguments": "{% $merge([\n  { \n    \"TableName\": \"${self:custom.InventoryTableName}\", \n    \"IndexName\": \"productType-index\", \n    \"KeyConditionExpression\": \"productType = :ptype\", \n    \"FilterExpression\": \"stock > :zero\", \n    \"ExpressionAttributeValues\": { \n      \":ptype\": { \n        \"S\": $inputData.productType \n      }, \n      \":zero\": { \n        \"N\": \"0\"\n      } \n    }, \n    \"Limit\": ($inputData.limit ? $inputData.limit : 20) \n  }, \n  $inputData.nextPageKey ? { \n    \"ExclusiveStartKey\": $inputData.nextPageKey \n  } : {}\n]) %}",
            "Next": "Notificar: Stock listado",
            "Assign": {
                "items": "{% $states.result.Items %}",
                "lastKey": "{% $states.result.LastEvaluatedKey %}"
            }
        },
        "Notificar: Stock listado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.inventory",
                        "DetailType": "Producto.ListadoExitoso",
                        "EventBusName": "${EventBusName}",
                        "Detail": "{% $string({\n  \"meta\": $originalMeta,\n  \"ui\": {\n    \"action\": \"HYDRATE\",\n    \"target\": \"products_store\",\n    \"variant\": \"SUCCESS\",\n    \"message\": \"Productos cargados\"\n  },\n  \"data\": {\n    \"products\": $items,\n    \"nextPageKey\": $lastKey\n  }}) %}"
                    }
                ]
            },
            "End": true
        },
        "Verificar y Reservar Stock": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:transactWriteItems",
            "Comment": "Resta stock de TODOS los items. Si uno no tiene stock, falla todo.",
            "Arguments": {
                "TransactItems": "{% $inputData.items ~> $map(function($item) {\n{\n  \"Update\": {\n    \"TableName\": \"${self:custom.InventoryTableName}\",\n    \"Key\": {\n      \"pk\": { \"S\": $item.tenantId },\n      \"sk\": { \"S\": $item.productSku }\n    },\n    \"UpdateExpression\": \"SET stock = stock - :qty\",\n    \"ConditionExpression\": \"stock >= :qty\",\n    \"ExpressionAttributeValues\": {\n      \":qty\": { \"N\": $string($item.qty) }\n    }\n  }\n}\n}) %}"
            },
            "Next": "Responder a MS Pedidos: Éxito",
            "Catch": [
                {
                    "ErrorEquals": [
                        "DynamoDB.TransactionCanceledException",
                        "DynamoDB.ConditionalCheckFailedException"
                    ],
                    "Next": "Responder a MS Pedidos: Fallo"
                }
            ]
        },
        "Responder a MS Pedidos: Éxito": {
            "Type": "Task",
            "Arguments": {
                "TaskToken": "{% $taskToken %}",
                "Output": "{% $string({\n          \"status\": \"RESERVADO\",\n          \"items\": $inputData.items\n        }) %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
            "End": true
        },
        "Responder a MS Pedidos: Fallo": {
            "Type": "Task",
            "Comment": "Recibe el objeto de error como input ($states.input)",
            "Arguments": {
                "TaskToken": "{% $taskToken %}",
                "Output": "{% $string({\n          \"status\": \"SIN_STOCK\",\n          \"reason\": \"Stock insuficiente para uno o más productos\",\n          \"details\": $states.input.Cause\n        }) %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
            "End": true
        },
        "State: Pedido en Preparacion": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.inventory",
                        "DetailType": "Pedido.EnPreparacion",
                        "EventBusName": "${EventBusName}",
                        "Detail": "{% $string({\n            \"meta\": $meta,\n            \"data\": { \n              \"orderId\": $inputData.orderId, \n              \"items\": $inputData.items \n            }\n}) %}"
                    }
                ]
            },
            "End": true
        },
        "Notificar: Pedido Cancelado": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
                "Entries": [
                    {
                        "Source": "app.inventory",
                        "DetailType": "Stock.Liberado",
                        "EventBusName": "${EventBusName}",
                        "Detail": "{% $string({\n            \"meta\": $meta,\n            \"data\": { \"orderId\": $inputData.orderId, \"status\": \"ROLLBACK_OK\" }\n          }) %}"
                    }
                ]
            },
            "End": true
        },
        "Error Critico: Fallo Reversion": {
            "Type": "Fail",
            "Error": "CriticalDataInconsistency",
            "Cause": "{% 'Fallo al revertir stock.\\nRazón técnica: ' & $states.input.Cause %}"
        }
    },
    "QueryLanguage": "JSONata"
}