Order-MS/ms-order.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Selector de Evento",
    "States": {
        "Selector de Evento": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Validar opciones",
                    "Condition": "{% $['detail-type'] = 'ProductoAgregado' %}"
                },
                {
                    "Next": "Obtener Ordenes (paginadas)",
                    "Condition": "{% $['detail-type'] = 'ObtenerOrdenesPasadas' %}"
                }
            ]
        },
        "Validar opciones": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "Agregar Pedido al Carrito",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "Next": "Selector de Evento"
                }
            ]
        },
        "Agregar Pedido al Carrito": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "DB_Clientes",
                "Key": {
                    "user_id": {
                        "S": "{% 'USER#' & $userId %}"
                    },
                    "entity_type": {
                        "S": "CART"
                    }
                },
                "UpdateExpression": "SET items.#id = :attrs, updatedAt = :fecha, expiracion = :ttl",
                "ExpressionAttributeNames": {
                    "#id": "{% $itemId %}"
                },
                "ExpressionAttributeValues": {
                    ":attrs": {
                        "M": {
                            "nombre": {
                                "S": "{% $producto.nombre %}"
                            },
                            "precio": {
                                "N": "{% $string($producto.precio) %}"
                            },
                            "cantidad": {
                                "N": "{% $string($producto.cantidad) %}"
                            },
                            "opciones": {
                                "S": "{% $join($producto.opciones, ', ') %}"
                            }
                        }
                    },
                    ":fecha": {
                        "S": "{% $now() %}"
                    },
                    ":ttl": {
                        "N": "{% $string($floor(($millis() + 86400000) / 1000)) %}"
                    }
                }
            },
            "End": true
        },
        "Obtener Ordenes (paginadas)": {
            "Type": "Task",
            "Arguments": {
                "TableName": "DB_Pedidos",
                "ScanIndexForward": false,
                "Limit": 10,
                "KeyConditionExpression": "pk = :u AND begins_with(sk, :prefix)",
                "ExpressionAttributeValues": {
                    ":u": {
                        "S": "{% 'USER#' & $userId %}"
                    },
                    ":prefix": {
                        "S": "ORDER#"
                    }
                },
                "ExclusiveStartKey": "{% $nextToken %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Next": "Devolver las ordenes al cliente"
        },
        "Devolver las ordenes al cliente": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}